@font-face {
  font-family: "Cinzel";
  src: url("../Cinzel-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../Cinzel-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* Helper Class */
/* ------------------------ */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

h1,
h2,
h5 {
  font-family: "Cinzel";
  color: #333;
}

h2 {
  font-size: 24px;
}

p {
  font-family: "Poppins-Regular";
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* section-header */

.section-header {
  height: 50px;
  display: flex;
  align-items: center;
}

.section-header a {
  text-decoration: none;
  color: #999;
}

.section-header h5 {
  font-size: 18px;
  font-weight: 700;
  color: #999;
}

/* section-hero */

main .section-hero {
  background-image: url("../pic/card.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .section-hero h1 {
  font-size: 50px;
  color: white;
  font-weight: 700;
  font-style: normal;
}

/* section-choose-trips */

.section-choose-trips {
  margin: 80px auto 45px;
  text-align: center;
}

.section-choose-trips p {
  margin: 60px 0;
  text-align: center;
  padding: 0 20px;
}

.section-choose-trips div {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* column-gap: 75px;
  row-gap: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.section-choose-trips div img {
  grid-column: 1 span;
  border-radius: 10px;
}

/* section--tour-dates */

.section-tour-dates h2 {
  text-align: center;
}

.section-tour-dates ul {
  list-style: none;
  margin: 38px 0;
  padding: 0 20px;
}

.section-tour-dates ul li {
  font-weight: 400;
  margin-bottom: 16px;
}

.section-tour-dates ul li:nth-of-type(1)::after {
  content: " sold out";
  text-transform: uppercase;
  color: #f00;
}

.section-tour-dates ul li:nth-of-type(2)::after {
  content: " sold out";
  text-transform: uppercase;
  color: #f00;
}

.section-tour-dates ul li:nth-of-type(3)::after {
  content: " sold out";
  text-transform: uppercase;
  color: #f00;
}

.section-tour-dates ul li:nth-of-type(4)::after {
  content: " only 4 Spot available";
  text-transform: uppercase;
  color: #f00;
}

.section-tour-dates ul li:nth-of-type(5)::after {
  content: " available";
  text-transform: uppercase;
  color: #008000;
}

.section-tour-dates ul li:nth-of-type(6)::after {
  content: " available";
  text-transform: uppercase;
  color: #008000;
}

/* section-footer */

.section-footer {
  border: 1px solid lightgray;
  height: 170px;
  padding: 40px 0 60px;
  text-align: center;
}

.section-footer h2 {
  margin-bottom: 16px;
}

.section-footer nav {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.section-footer nav a {
  text-decoration: none;
  font-weight: 700;
}

.social:nth-of-type(1) {
  color: #3b5998;
}

.social:nth-of-type(2) {
  color: #1da1f2;
}

.social:nth-of-type(3) {
  color: #c32aa3;
}

.social:nth-of-type(1):hover {
  color: #3b599870;
}

.social:nth-of-type(2):hover {
  color: #1da1f270;
}

.social:nth-of-type(3):hover {
  color: #c32aa370;
}
